html {
  height: 100%; }

.debug-info {
  display: none; }

body {
  overflow-y: scroll;
  overflow-x: hidden; }

body.debug .scene {
  border: green solid thin; }

body.debug .debug-info {
  display: block;
  color: red;
  position: absolute; }

.container {
  width: 100vw;
  background-color: red; }

.container .animation-area {
  background-image: url("../assets/beach.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100vw;
  height: 100vh; }

.container .animation-area .scene-element {
  position: absolute;
  background-size: contain;
  background-position: center; }

.container .animation-area .scene-element.landing-page {
  width: 100%;
  height: 100vh;
  background-color: #000; }

.container .animation-area .scene-element.landing-page .img-bg {
  background-image: url("../assets/history.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black; }

.container .animation-area .scene-element.landing-page .landing-content {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center; }

.container .animation-area .scene-element.landing-page .landing-content .landing-title {
  min-width: 300px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  line-height: .1; }

.container .animation-area .scene-element.landing-page .landing-content .landing-title p {
  text-shadow: 2px 2px #000; }

.container .animation-area .scene-element.landing-page .landing-content .landing-title .note {
  font-size: 12px;
  font-weight: normal; }

.container .animation-area .scene-element.plane {
  width: 135px;
  height: 113px;
  background-image: url("../assets/plane.png"); }

.container .animation-area .scene-element.ship {
  background-image: url("../assets/ship.png");
  width: 800px;
  height: 203px;
  bottom: 50px;
  left: calc(50% - 400px);
  transform: rotate(4deg); }

.container .animation-area .scene-element.explosion {
  background-image: url("../assets/explosion.png");
  width: 830px;
  height: 941px;
  bottom: -315px;
  left: calc(50% - 415px); }

.container .animation-area .scene-element.victory {
  width: 100%;
  height: 100vh;
  filter: drop-shadow(30px 10px 20px #000);
  display: flex;
  justify-content: center; }

.container .animation-area .scene-element.victory .img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/victory.png"); }

.container .scene {
  margin: 0 auto;
  width: 80%;
  background-color: transparent;
  height: 100vh;
  display: block;
  position: relative; }

.container .scene.scene1 {
  height: 100vh; }
